@{
    ViewData["Title"] = "Single Blog Page";
}
@model VmBlog
<!-- #region Breadcrump Area -->
<section id="breadcrump">
    <div class="breadcrumb-wrapper" style="background-image: url('/img/bg-image/@Model.Banner.BgImage');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-page">@Model.Banner.Page</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>@Model.Banner.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion Breadcrump Area End -->
<!-- #region Single Blog List -->
<section id="single-blog" class="pb-100 pt-100">
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 px-15">
                    <div class="row">
                        <div class="blog-full">
                            <div class="single-blog-item">
                                <div class="single-blog-content">
                                    <div class="author-date">
                                        <ul>
                                            <li class="author">
                                                <a href="#">By: Admin</a>
                                            </li>
                                            <li class="date">@Model.BlogDetail.CreatedDate.ToString("dd MMMM yyyy")</li>
                                        </ul>
                                    </div>
                                    <h2 class="single-blog-title">@Model.BlogDetail.Title</h2>
                                </div>

                                @if (Model.BlogDetail.Image != null)
                                {
                                    <div class="single-blog-img my-5">
                                        <img src="~/img/blog/@Model.BlogDetail.Image" alt="Image">
                                    </div>
                                }
                                else
                                {
                                    <div class="ratio ratio-16x9 my-5">
                                        <iframe src="@Model.BlogDetail.VideoLink" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                }

                                <p class="single-blog-p">
                                    @Model.BlogDetail.Content
                                </p>

                            </div>
                            <div class="blog-social-tags">
                                <div class="tags">
                                    <span class="tags-title">Tags: </span>
                                    <ul>
                                        @{
                                            for (int i = 0; i < Model.BlogDetail.BlogTagToBlogs.Count; i++)
                                            {
                                                if (i != Model.BlogDetail.BlogTagToBlogs.Count - 1)
                                                {
                                                    <li>
                                                        <a asp-route-SearchTag="@Model.BlogDetail.BlogTagToBlogs[i].BlogTag.Id" asp-controller="Blog" asp-action="Index">@Model.BlogDetail.BlogTagToBlogs[i].BlogTag.TagName, </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a asp-route-SearchTag="@Model.BlogDetail.BlogTagToBlogs[i].BlogTag.Id" asp-controller="Blog" asp-action="Index">@Model.BlogDetail.BlogTagToBlogs[i].BlogTag.TagName</a>
                                                    </li>
                                                }
                                            }
                                        }


                                    </ul>
                                </div>
                                <div class="social-link">
                                    <ul>
                                        <li>
                                            <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fab fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fab fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li class="comment">
                                            <a href="#">
                                                <span>2</span>
                                                <i class="fa fa-comments"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-comment mt-100">
                                <h4 class="heading">Comments (@Model.BlogDetail.Comments.Count)</h4>
                                @foreach (var item in @Model.BlogDetail.Comments)
                                {
                                    if (item.ParentCommentId == null)
                                    {
                                        <div class="blog-comment-item" style=" background-color: white !important; padding: 20px !important; border-radius: 10px !important; box-shadow: 0 0 20px 0px #8c8a8a85 !important;">
                                            <div class="blog-comment-img" style="height: 120px !important;">
                                                <img style="height:100%!important" src="~/img/user/@(item.UserId!=null?(item.User.Image!=null?item.User.Image:"Avatar.png"):"Avatar.png")" alt="User Image">
                                            </div>
                                            <div class="blog-comment-content">
                                                <div class="user-meta">
                                                    <h2 class="user-name">@(item.UserId!=null?item.User.Name : item.CommentPost.FullName)</h2>
                                                    <span class="date">
                                                        @{
                                                            var date = (DateTime.Now - item.CreatedDate);
                                                            if (date.Days == 0)
                                                            {
                                                                if (date.Hours == 0)
                                                                {
                                                                    if (date.Minutes == 0)
                                                                    {
                                                                        @(date.Seconds) @(" seconds before")
                                                                    }
                                                                    else
                                                                    {
                                                                        @(date.Minutes) @(" minutes before")
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @(date.Hours) @(" hours before")
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @(date.Days) @(" days before")
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                                <p class="user-comment" style="font-weight: 500 !important;">
                                                    @item.CommentPost.Content
                                                </p>
                                            </div>
                                        </div>
                                        foreach (var item2 in Model.BlogDetail.Comments)
                                        {
                                            if (item2.ParentCommentId == item.Id)
                                            {
                                                <div class="blog-comment-item relpy-item" style="padding: 0 40px 0 !important;">
                                                    <div class="blog-comment-img" style="height: 120px !important;">
                                                        <img style="height:100%!important" src="~/img/user/@(item2.UserId!=null?(item2.User.Image!=null?item2.User.Image:"Avatar.png"):"Avatar.png")" alt="User Image">
                                                    </div>
                                                    <div class="blog-comment-content">
                                                        <div class="user-meta">
                                                            <h2 class="user-name">@(item2.UserId!=null?item2.User.Name : item2.CommentPost.FullName)</h2>
                                                            <span class="date">
                                                                @{
                                                                    var date2 = (DateTime.Now - item2.CreatedDate);
                                                                    if (date2.Days == 0)
                                                                    {
                                                                        if (date2.Hours == 0)
                                                                        {
                                                                            if (date2.Minutes == 0)
                                                                            {
                                                                                @(date2.Seconds) @(" seconds before")
                                                                            }
                                                                            else
                                                                            {
                                                                                @(date2.Minutes) @(" minutes before")
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @(date2.Hours) @(" hours before")
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @(date2.Days) @(" days before")
                                                                    }
                                                                }
                                                            </span>
                                                        </div>
                                                        <p class="user-comment">
                                                            @item2.Content
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <form id="add-comment" class="add-comment mb-5 replyComment" asp-controller="Blog" asp-action="PostComment" method="post">
                                            <fieldset id="comment-fieldset">
                                                @{
                                                    if (!User.Identity.IsAuthenticated)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-6 mb-2">
                                                                <div class="form-group">
                                                                    <input asp-for="@Model.CommentPost.FullName" placeholder="Name" class="form-control form-control-alternative">
                                                                    <div asp-validation-summary="All"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-2">
                                                                <div class="form-group">
                                                                    <input asp-for="@Model.CommentPost.Email" placeholder="Email" class="form-control form-control-alternative">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }


                                                }
                                                <div class="">
                                                    <div class="form-group">
                                                        <textarea asp-for="@Model.CommentPost.Content" class="form-control form-control-alternative" placeholder="Comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button id="comment-reply-btn" class="mt-3 btn btn-primary">Reply to @(item.UserId!=null?item.User.Name: item.CommentPost.FullName)</button>
                                                </div>
                                            </fieldset>

                                            <input hidden asp-for="@Model.CommentPost.CommentId" value="@item.Id" />
                                            <input hidden asp-for="@Model.CommentPost.BlogId" value="@Model.BlogDetail.Id" />
                                            <div class="clearfix"></div>
                                        </form>
                                    }
                                }
                                <div class="feedback-area">
                                    <h2 class="heading">Leave a comment</h2>
                                    <form class="feedback-form" asp-controller="Blog" asp-action="PostComment" method="post">
                                        @{
                                            if (!User.Identity.IsAuthenticated)
                                            {
                                                <div class="group-input">
                                                    <div class="form-field me-md-30 mb-30 mb-md-0 mr-30">
                                                        <input asp-for="@Model.CommentPost.FullName" placeholder="Full Name*" class="input-field">
                                                    </div>
                                                    <div class="form-field">
                                                        <input type="email" asp-for="@Model.CommentPost.Email" placeholder="Your Email*" class="input-field">
                                                    </div>
                                                </div>

                                            }
                                        }
                                        <div class="form-field mt-30">
                                            <input asp-for="@Model.CommentPost.Subject" placeholder="Subject (Optinal)" class="input-field">
                                        </div>
                                        <div class="form-field mt-30">
                                            <textarea asp-for="@Model.CommentPost.Content" placeholder="Message" class="textarea-field"></textarea>
                                        </div>
                                        <input hidden asp-for="@Model.CommentPost.BlogId" value="@Model.BlogDetail.Id" />
                                        <div class="form-field-button-wrap pt-5">
                                            <button type="submit" value="submit" class="btn btn-custom-size xl-size btn-pronia-primary" name="submit">
                                                Post
                                                Comment
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 pt-5 pt-lg-0 px-15">
                    <div class="sidebar-wrapper">

                        <div class="searchbox-tool">
                            <form id="searchbox-tool" asp-controller="Blog" asp-action="Index" method="post">
                                <input class="input-field" asp-for="@Model.Search.SearchData" type="text" placeholder="@(Model.Search.SearchData==null?"Search...":Model.Search.SearchData)" autocomplete="off">
                                <button class="searchbox-tool-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                <ul class="widgets-category">
                                    @{
                                        foreach (var item in Model.BlogCategories)
                                        {
                                            <li>
                                                <a asp-route-SearchCategory="@item.Id" asp-controller="Blog" asp-action="Index">
                                                    <i class="fa fa-chevron-right"></i>
                                                    @item.CategoryName <span>(65)</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Recent Post</h2>
                                @{
                                    foreach (var item in Model.LatestBlogs)
                                    {
                                        <div class="widgets-list-item">
                                            <div class="widgets-list-img">
                                                <a asp-route-Id="@item.Id" asp-controller="Blog" asp-action="SingleBlog">
                                                    <img src="~/img/blog/@item.Image" alt="Blog Images">
                                                </a>
                                            </div>
                                            <div class="widgets-list-content">
                                                <div class="widgets-meta">
                                                    <ul>
                                                        <li class="date">
                                                            @item.CreatedDate.ToString("dd MMMM yyyy")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h2 class="mb-0">
                                                    <a asp-route-Id="@item.Id" asp-controller="Blog" asp-action="SingleBlog">
                                                        @item.Title
                                                    </a>
                                                </h2>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">
                                    @{
                                        foreach (var item in Model.BlogTags)
                                        {
                                            <li>
                                                <a asp-route-SearchTag="@item.Id" asp-controller="Blog" asp-action="Index">@item.TagName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="collection-area pt-40">
                            <div class="collection-item collection-item-hover">
                                <div class="collection-img">
                                    <img src="~/img/collection/@Model.CollectionS.Image" alt="Banner Image">
                                </div>
                                <div class="collection-content collection-content-center">
                                    <span class="collection">@Model.CollectionS.SubTitle</span>
                                    <h3 class="title">@Model.CollectionS.Title</h3>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-custom" href="#">
                                            Shop
                                            Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion Single Blog List End -->