@using Pronia_eCommerce.Data
@inject AppDbContext _context
@inject IHttpContextAccessor _httpContextAccessor
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

@{ int UMC = 0;
    List<Message> UM = new();
    if (_context.Messages.Where(m => m.hasReaded == false).ToList() != null)
    {
        UMC = _context.Messages.Where(m => m.hasReaded == false).ToList().Count;
        UM = _context.Messages.Where(m => m.hasReaded == false).OrderByDescending(m => m.CreatedDate).ToList();
    } }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pronia Admin</title>
    <!--favicon-->
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="~/Areas/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <script src="//cdn.ckeditor.com/4.17.2/full/ckeditor.js"></script>
    <link href="~/Areas/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Areas/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Sidebar CSS-->
    <link href="~/Areas/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Areas/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo/f00a7205-1331-466d-b67b-2123c8739f80-17February2022-logo-1.png" style=" width: 80px;" alt="logo icon">
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="fad fa-home-alt"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Inbox" asp-action="Index">
                        <i class="fad fa-envelope"></i> <span>Messages</span>
                    </a>
                </li>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#site-settings" aria-expanded="false" aria-controls="site-settings">
                            <i class="fas fa-cog menu-icon"></i>
                            <span class="menu-title">Site Settings</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="site-settings">
                            <ul class="nav flex-column sub-menu pl-4">
                                <li class="nav-item"> <a class="nav-link" asp-controller="SiteSetting" asp-action="Index">Setting</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="SiteSocial" asp-action="Index">Site socials</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Banner" asp-action="Index">Banner</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="About" asp-action="Index">About Us</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact Us</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Faq" asp-action="Index">FAQ</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Brand" asp-action="Index">Brand</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Testimonial" asp-action="Index">Testimonial</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="HomeSlider" asp-action="Index">Home Slider</a></li>
                            </ul>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#blog-section" aria-expanded="false" aria-controls="blog-section">
                        <i class="fas fa-blog"></i>
                        <span class="menu-title">Blogs</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="blog-section">
                        <ul class="nav flex-column sub-menu pl-4">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Blog" asp-action="Index">Blogs</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="BlogTag" asp-action="Index">Blog Tags</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="BlogCategory" asp-action="Index">Blog Categories</a></li>
                        </ul>
                    </div>
                </li>
                @if (!User.IsInRole("Moderator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#shop_" aria-expanded="false" aria-controls="shop_">
                            <i class="fas fa-store"></i>
                            <span class="menu-title">Shop</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="shop_">
                            <ul class="nav flex-column sub-menu pl-4">
                                <li class="nav-item"> <a class="nav-link" asp-controller="Shop" asp-action="Index">Shop</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="ProductTag" asp-action="Index">Product Tags</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="ProductCategory" asp-action="Index">Product Categories</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Collection" asp-action="Index">Collections</a></li>
                            </ul>
                        </div>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                            <i class="fad fa-list-alt"></i>
                            <span class="menu-title">Sale</span>
                            @if (_context.Sales.Any(s => s.isReaded == false))
                            {
                                <small class="badge float-right badge-light">New</small>
                            }
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="sales">
                            <ul class="nav flex-column sub-menu pl-4">
                                <li class="nav-item"> <a class="nav-link" asp-controller="Sale" asp-action="Index">New Sales</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Sale" asp-action="Index2">Sales</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Sale" asp-action="ArchiveIndex">Archived Sales</a></li>
                            </ul>
                        </div>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li>
                        <a asp-area="Admin" asp-controller="Account" asp-action="Index">
                            <i class="fad fa-user"></i> <span>Registration</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="Admin" asp-controller="Account" asp-action="Roles">
                            <i class="fad fa-user-tag"></i> <span>Roles</span>
                        </a>
                    </li>
                }
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item">
                        <h4 class="mb-0 ml-5 font-weight-bold ">Welcome Back, <span class="text-info">@(_context.SiteUsers.Find(_userManager.GetUserId(User)).Name +" "+ _context.SiteUsers.Find(_userManager.GetUserId(User)).Surname) <span style="font-size: 12px !important; vertical-align: super !important; color: #ffcc5c !important; font-weight: 300 !important;">@( _context.Roles.Find(_context.UserRoles.FirstOrDefault(r => r.UserId == _context.SiteUsers.Find(_userManager.GetUserId(User)).Id).RoleId).Name=="SuperAdmin"?"Super Admin" : _context.Roles.Find(_context.UserRoles.FirstOrDefault(r => r.UserId == _context.SiteUsers.Find(_userManager.GetUserId(User)).Id).RoleId).Name)</span></span> </h4>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto navbar-nav-right align-items-center">
                    <li class="nav-item dropdown mr-1">
                        <a style="position: relative; color: white; font-size: 18px;" class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="fal fa-envelope"></i>
                            @{ if (UMC != 0)
                                {
                                    <span style="width: fit-content; font-size: 10px; height: fit-content; display: flex; flex-wrap: wrap; flex-direction: column; align-content: center; justify-content: center; position: absolute; top: 1px; right: -3px;" class="badge badge-pill badge-danger">@UMC</span> 
                                }
                             }
                        </a>
                        <div id="cstmscrlbr" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" style="max-height: 325px; overflow-y: auto; right: -60px; top: 47px; width: 350px !important; background-color: #fff !important; box-shadow: 0 0 20px 4px #3f6eb1a3 !important; width: 350px !important;" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Unreaded Messages</p>
                            @{ if (UM.Count > 0 && UM != null)
                                {
                                    foreach (var msg in UM)
                                    {
                                        <a href="#" class="dropdown-item preview-item" style="border-top: 1px dashed #eee !important; margin-bottom: 0 !important; padding: 0.65rem 1.5rem !important; cursor: pointer !important; display: flex !important; justify-content: space-between; align-items: center !important; ">
                                            <div class="preview-item-content flex-grow">
                                                <h6 style=" color: #001737 !important;" class="preview-subject ellipsis font-weight-normal">
                                                    @(msg.FirstName + " " + msg.LastName)
                                                </h6>
                                                <p class="font-weight-light text-muted mb-0" style="font-size: 13px !important">
                                                    @(msg.Content.Length>25?msg.Content.Substring(0,25)+"...":msg.Content)
                                                </p>
                                            </div>
                                            <div>
                                                <span style="font-size: 10px !important; color: #E39 !important;">
                                                    @{ var date = (DateTime.Now - msg.CreatedDate);
                                                        if (date.Days == 0)
                                                        {
                                                            if (date.Hours == 0)
                                                            {
                                                                if (date.Minutes == 0)
                                                                { @(date.Seconds) @(" seconds before") }
                                                                else
                                                                { @(date.Minutes) @(" minutes before") }
                                                            }
                                                            else
                                                            { @(date.Hours) @(" hours before") }
                                                        }
                                                        else
                                                        { @(date.Days) @(" days before") } }
                                                </span>
                                            </div>
                                        </a> 
                                    }
                                }
                                else
                                {
                                    <div style="width: 100%; height: 100%;">
                                        <img style="width: 100%; height: 100%; object-fit: cover;" src="~/img/uncategorized//emptyinbox.png"/>
                                    </div>
                                }
                             }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="~/img/user/@(_context.SiteUsers.Find(_userManager.GetUserId(User)).Image!=null?_context.SiteUsers.Find(_userManager.GetUserId(User)).Image:"Avatar.png")" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 10px !important;">
                            <li class="dropdown-item user-details">
                                <a asp-area="Admin" asp-controller="Account" asp-action="Profile">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="~/img/user/@(_context.SiteUsers.Find(_userManager.GetUserId(User)).Image!=null?_context.SiteUsers.Find(_userManager.GetUserId(User)).Image:"Avatar.png")" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title" style="color: #001737 !important;">@(_context.SiteUsers.Find(_userManager.GetUserId(User)).Name +" "+ _context.SiteUsers.Find(_userManager.GetUserId(User)).Surname)</h6>
                                            <p class="user-subtitle" style="color: #001737 !important;">@(_context.SiteUsers.Find(_userManager.GetUserId(User)).Email)</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a style="color: #001737; text-decoration: none;" asp-area="Admin" asp-controller="Account" asp-action="Profile"><i style="margin-right: 0.5rem !important;" class="fad fa-user-circle"></i> Account</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a style="color: #001737; text-decoration: none;" asp-area="Admin" asp-controller="Account" asp-action="Logout"><i style="margin-right: 0.5rem !important;" class="fad fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                @RenderBody()

            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2018 Dashtreme Admin
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/assets/js/jquery.min.js"></script>
    <script src="~/Areas/assets/js/popper.min.js"></script>
    <script src="~/Areas/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- simplebar js -->
    <script src="~/Areas/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Areas/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="~/Areas/assets/js/app-script.js"></script>
    <!-- Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- FontAwsome Icon -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/Areas/assets/js/Select2.js"></script>
    <!-- Tippy Tooltip -->
    


</body>
</html>
