@model VmCart
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _HttpContextAccessor
@using Pronia_eCommerce.Controllers


<!-- #region Breadcrump Area -->
<section id="breadcrump">
    <div class="breadcrumb-wrapper" style="background-image: url('/img/bg-image/@Model.Banner.BgImage');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-page">Cart</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>@Model.Banner.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion Breadcrump Area End -->
<!-- #region Wishlist -->
<div class="wishlist-full pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            @{
                var msg = _HttpContextAccessor.HttpContext.Session.GetObject<List<string>>("QuantityError");

                if (msg != null)
                {
                    <div class="text-center alert alert-light pb-0 col-lg-10">

                        @foreach (var item in msg)
                        {
                            <p class="text-warning" style="font-size: 18px !important;">@item</p>
                        }

                    </div>
                }

                _HttpContextAccessor.HttpContext.Session.Remove("QuantityError");

                if (TempData["Errorcart2"] != null)
                {
                    <div class="text-center alert alert-light pb-0 col-lg-10">

                        <p class="text-warning" style="font-size: 18px !important;">@(TempData["Errorcart2"] as string)</p>

                    </div>
                    TempData["Errorcart2"] = null;
                }

                if (TempData["PaymentSuccess"]!=null)
                {
                    <input id="PaymentSuccessAlert" type="hidden" value="true" />
                    TempData["PaymentSuccess"] = null;
                }

            }



            <div class="col-12">
                @{
                    if (Model.Products != null)
                    {
                        <form class="cart-full-checker" asp-controller="Checkout" asp-action="CartToCheckout">
                            <div class="table-content table-responsive" style="overflow: unset !important;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">remove</th>
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-price">Size</th>
                                            <th class="product-stock-status">Quantity</th>
                                            <th class="cart-btn">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.Products)
                                            {
                                                <input type="hidden" asp-for="@Model.ProductIds" value="@item.Id" />
                                                <tr>
                                                    <td class="cart-product-remove">
                                                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-Id="@item.Id">
                                                            <i class="fal fa-times" data-tippy="Remove" data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                                        </a>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a href="#">
                                                            <img src="~/img/products/@item.ProductImages.Where(p=>p.Image!=null).FirstOrDefault().Image" alt="Wishlist Thumbnail">
                                                        </a>
                                                    </td>
                                                    <td class="product-name"><a href="#">@item.Name</a></td>
                                                    <td class="product-price">
                                                        <span class="amount cart-product-price">$0.00</span>
                                                    </td>
                                                    <td style="width: 230px;" id="cart-size">
                                                        <select style="margin-left: auto; margin-right: auto;" asp-for="@Model.ProductSizeIds" class="form-select w-75 border-bottom-0 rounded-0 cart-nice-select">

                                                            <option selected disabled>Choose size</option>
                                                            @foreach (var size in item.ProductSizeToProducts)
                                                            {

                                                                if (size.Quantity > 0)
                                                                {
                                                                    <option class="select-opt-prc" data-prc="@size.Price" value="@size.Id">@size.ProductSize.Size</option>
                                                                }
                                                                else if (size.Quantity == 0)
                                                                {
                                                                    <option class="select-opt-prc" data-prc="@size.Price" disabled value="@size.Id">@size.ProductSize.Size</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="quantity">
                                                        <div class="cart-action" style="display: inline;">
                                                            <input asp-for="@Model.ProductCounts" class="cart-action-box @("cart-action-box"+item.Id)" value="1" type="text">
                                                            <div class="cart-minus2 minus quantity-btn">
                                                                <i class="fa fa-minus"></i>
                                                            </div>
                                                            <div class="cart-plus2 plus quantity-btn">
                                                                <i class="fa fa-plus"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal cart-product-sub-total" style=" width: 150px;">
                                                        <span class="amount-cart2 amount @("cart-product-subtotal"+item.Id)">$0.00</span>
                                                        <input type="hidden" value="@item.Id" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2 class="text-end">Cart totals</h2>
                                        <ul>
                                            <li>Subtotal <span class="subTotalEnd2">$0.00</span></li>
                                            <li>Total <span class="totalEnd2">$0.00</span></li>
                                        </ul>
                                        <button class="btn mt-4 btn-dark" type="submit">Proceed to checkout</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <input id="cartProductCount" type="hidden" value="@Model.Products.Count" />
                    }
                    else
                    {
                        <div class="text-center">
                            <img src="~/img/uncategorized/empty-cart..png" alt="Alternate Text" style="margin-left: 20px !important;" />
                            <p style="font-size: 14px !important; color: #7d7d7d !important; ">There is nothing in your cart. Let's add some items.</p>
                            <a class="btn" style=" color: white !important; background: #abd373 !important;" asp-controller="Shop" asp-action="Index">Go To Shop</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- #endregion Wishlist End -->
