@model VmProduct
<!-- #region Breadcrump Area -->
<section id="breadcrump">
    <div class="breadcrumb-wrapper" style="background-image: url('/img/bg-image/@Model.Banner.BgImage');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-page">Shop</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>@Model.Banner.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion Breadcrump Area End -->
<!-- #region Single Product -->
<div class="single-product-full pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-product-img">
                    <div class="swiper-container single-product-slider">
                        <div class="swiper-wrapper">
                            @foreach (var img in Model.SingleProduct.ProductImages)
                            {
                                <div class="swiper-slide">
                                    <a href="/img/products/@img.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/img/products/@img.Image" alt="Product Image">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="single-product-img-bottom">
                        <div class="swiper-container single-product-bottom-slider">
                            <div class="swiper-wrapper">
                                @foreach (var img in Model.SingleProduct.ProductImages)
                                {
                                    <a class="swiper-slide">
                                        <img class="img-full" src="~/img/products/@img.Image" alt="Product Image">
                                    </a>
                                }
                            </div>
                            <div class="single-product-img-button-wrap d-none d-md-block">
                                <div class="single-product-img-button-prev">
                                    <i class="fal fa-angle-left"></i>
                                </div>
                                <div class="single-product-img-button-next">
                                    <i class="fal fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="product-info">
                    <h2 class="title">@Model.SingleProduct.Name</h2>
                    <div class="price-box">
                        <span class="price @(Model.SingleProduct.ProductSizeToProducts.Any(p => p.Quantity > 0) ? "" : "text-danger")" id="SingleProductPrice">
                            @{

                                if (Model.SingleProduct.ProductSizeToProducts.Any(p => p.Quantity > 0))
                                {
                                    @("$" + Model.SingleProduct.ProductSizeToProducts.Where(p => p.Quantity > 0).FirstOrDefault().Price)
                                }
                                else
                                {
                                    @("Out Stock")
                                }


                                @*bool noPrice = false;
                                foreach (var price in Model.SingleProduct.ProductSizeToProducts)
                                {
                                    if (price.Price != 0)
                                    {
                                        @price.Price
                                        noPrice = false;
                                        break;
                                    }
                                    else
                                    {
                                        noPrice = true;
                                    }

                                }

                                if (noPrice)
                                {
                                    string noPriceText = "Price will be Update soon";
                                    @noPriceText
                                }*@
                            }
                        </span>
                    </div>
                    <div class="rating-wrap rating-box1 @("rating-box-" + Model.SingleProduct.Id)">
                        <div class="rating">
                            <ul>
                                <li>
                                    <i data-tippy="1 Star" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" data-pd="@Model.SingleProduct.Id" data-rv="1" data-bs-toggle=@(User.Identity.IsAuthenticated ? "" : "modal") data-bs-target=@(User.Identity.IsAuthenticated ? "" : "#exampleModal2") class="@(User.Identity.IsAuthenticated ? "user-enable" : "")  fa fa-star fastar @("hvr-" + Model.SingleProduct.Id)">
                                    </i>
                                </li>
                                <li>
                                    <i data-tippy="2 Stars" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" data-pd="@Model.SingleProduct.Id" data-rv="2" data-bs-toggle=@(User.Identity.IsAuthenticated ? "" : "modal") data-bs-target=@(User.Identity.IsAuthenticated ? "" : "#exampleModal2") class="@(User.Identity.IsAuthenticated ? "user-enable" : "")  fa fa-star fastar @("hvr-" + Model.SingleProduct.Id)">
                                    </i>
                                </li>
                                <li>
                                    <i data-tippy="3 Stars" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" data-pd="@Model.SingleProduct.Id" data-rv="3" data-bs-toggle=@(User.Identity.IsAuthenticated ? "" : "modal") data-bs-target=@(User.Identity.IsAuthenticated ? "" : "#exampleModal2") class="@(User.Identity.IsAuthenticated ? "user-enable" : "")  fa fa-star fastar @("hvr-" + Model.SingleProduct.Id)">
                                    </i>
                                </li>
                                <li>
                                    <i data-tippy="4 Stars" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" data-pd="@Model.SingleProduct.Id" data-rv="4" data-bs-toggle=@(User.Identity.IsAuthenticated ? "" : "modal") data-bs-target=@(User.Identity.IsAuthenticated ? "" : "#exampleModal2") class="@(User.Identity.IsAuthenticated ? "user-enable" : "")  fa fa-star fastar @("hvr-" + Model.SingleProduct.Id)">
                                    </i>
                                </li>
                                <li>
                                    <i data-tippy="5 Stars" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" data-pd="@Model.SingleProduct.Id" data-rv="5" data-bs-toggle=@(User.Identity.IsAuthenticated ? "" : "modal") data-bs-target=@(User.Identity.IsAuthenticated ? "" : "#exampleModal2") class="@(User.Identity.IsAuthenticated ? "user-enable" : "")  fa fa-star fastar @("hvr-" + Model.SingleProduct.Id)">

                                    </i>
                                </li>
                            </ul>
                        </div>
                        <div class="review">
                            <a data-id="@Model.SingleProduct.Id" id="rating_value" class="ratingdataid2" href="#">
                                @{
                                    if (Model.RatingStars.Count > 0)
                                    {
                                        var rval2 = Model.RatingStars;
                                        var fiveS = 0;
                                        var fourS = 0;
                                        var threeS = 0;
                                        var twoS = 0;
                                        var oneS = 0;
                                        for (var rs = 0; rs < rval2.Count; rs++)
                                        {


                                            for (var str = 0; str < rval2.Count; str++)
                                            {
                                                if (rval2[str].Star == 5)
                                                {
                                                    fiveS++;
                                                }
                                                else if (rval2[str].Star == 4)
                                                {
                                                    fourS++;
                                                }
                                                else if (rval2[str].Star == 3)
                                                {
                                                    threeS++;
                                                }
                                                else if (rval2[str].Star == 2)
                                                {
                                                    twoS++;
                                                }
                                                else if (rval2[str].Star == 1)
                                                {
                                                    oneS++;
                                                }
                                            }

                                        }

                                        decimal sum = (fiveS * 5) + (fourS * 4) + (threeS * 3) + (twoS * 2) + (oneS * 1);
                                        decimal rSum = fiveS + fourS + threeS + twoS + oneS;
                                        var sumRsum = Math.Round((sum / rSum), 1, MidpointRounding.ToEven);

                                        if (sumRsum != 0)
                                        {
                                            @("( " + sumRsum.ToString("F1") + " Rating )" );
                                        }
                                        else
                                        {
                                            @("( 0.0 Rating )");
                                        }
                                    }
                                    else
                                    {
                                        @("( 0.0 Rating )");
                                    }
                                }
                            </a>
                        </div>
                    </div>
                    <div class="selector-full pb-30" id="singleProductSelector">
                        <span class="selector-title">Size</span>
                        <select class="nice-select wide rounded-0">

                            @if (Model.SingleProduct.ProductSizeToProducts.Any(p => p.Quantity > 0))
                            {
                                bool i = true;

                                @foreach (var opt in Model.SingleProduct.ProductSizeToProducts)
                                {
                                    if (opt.Quantity > 0 && i)
                                    {
                                        <option selected class="opt-price" value="@opt.Id">@opt.ProductSize.Size</option>
                                        i = false;
                                    }
                                    else if (opt.Quantity == 0)
                                    {
                                        <option disabled class="opt-price" value="@opt.Id">@opt.ProductSize.Size</option>
                                    }
                                    else
                                    {
                                        <option class="opt-price" value="@opt.Id">@opt.ProductSize.Size</option>
                                    }


                                }
                            }
                            else
                            {
                                <option selected disabled class="opt-price">Out Stock</option>
                            }

                        </select>
                        @foreach (var opt in Model.SingleProduct.ProductSizeToProducts)
                        {
                            <input type="hidden" value="@opt.Price" class="opt-price-size" />
                            @*<input type="hidden" value="@opt.Quantity" class="opt-qty22" />*@
                        }
                    </div>
                    <p class="product-desc">
                        @Model.SingleProduct.ShortDesc
                    </p>
                    <ul class="single-product-action">

                        <li class="favourite fc">
                            <a class="btn-fc" id="addToWishlist_ProductDetail" href="#">
                                <i class="fal fa-heart @(Model.Favourite!=null? (Model.Favourite.Any(f=>f==(Model.SingleProduct.Id).ToString())?"added-to-wishlist_ProductDetail":""):"")"></i>

                            </a>
                        </li>

                        <li class="add-to-cart">
                            <a class="btn" id="addToCart_ProductDetail" href="#">Add to cart</a>
                            <input id="addToCart_ProductDetailId" type="hidden" value="@Model.SingleProduct.Id" />
                        </li>
                    </ul>
                    <ul class="service-item-wrap">
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-1.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Free <br> Shipping</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-2.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Safe <br> Payment</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-3.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Safe <br> Payment</span>
                            </div>
                        </li>
                    </ul>
                    <div class="product-explanation">
                        <span class="product-explanation-title">SKU:</span>
                        <ul>
                            <li>
                                <a href="#">@Model.SingleProduct.SKU</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-explanation">
                        <span class="product-explanation-title">Category:</span>
                        <ul>
                            <li>
                                <a asp-controller="Shop" asp-action="Index" asp-route-SearchCategory="@Model.SingleProduct.ProductCat.Id">@Model.SingleProduct.ProductCat.CategoryName</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-explanation product-tags">
                        <span class="product-explanation-title">Tags:</span>
                        <ul>
                            @foreach (var tag in Model.SingleProduct.ProductTagToProducts)
                            {
                                <li>
                                    <a asp-controller="Shop" asp-action="Index" asp-route-SearchTag="@tag.ProductTag.Id">@tag.ProductTag.TagName</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="product-explanation product-explanation-socials align-items-center pb-0">
                        <span class="product-explanation-title pe-3">Share:</span>
                        <ul>
                            <li>
                                <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Tumblr" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-tumblr"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Single Product End -->
<!-- #region Single Product Description -->
<div class="product-description-full pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav tab-style-2 pt-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active tab-btn" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                            Reviews(3)
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="tab-btn" id="information-tab" data-bs-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">
                            Information
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="tab-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                            Description
                        </a>
                    </li>
                </ul>
                <div class="product-tab-content">
                    <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="product-review-body">
                            <div class="blog-comment mt-0">
                                <h4 class="heading">Comments (@Model.SingleProduct.ProductComments.Count)</h4>
                                @{
                                    foreach (var msg in Model.SingleProduct.ProductComments)
                                    {
                                        <div class="blog-comment-item">
                                            <div class="blog-comment-img" style="height: 120px !important;">
                                                <img style="height: 100% !important;" src="~/img/user/@(msg.UserId!=null?(msg.User.Image!=null?msg.User.Image:"Avatar.png"):"Avatar.png")" alt="Image">
                                            </div>
                                            <div class="blog-comment-content" style=" background-color: white !important; box-shadow: 0 0 10px 0px #cec9c994 !important; padding: 20px 20px 15px 20px !important; border-radius: 10px !important;">
                                                <div class="user-meta">
                                                    <h2 class="user-name" style="margin: 0 !important; font-weight: 500 !important; text-transform: capitalize !important; ">@(msg.UserId!=null?msg.User.Name:msg.CommentPost.FullName)</h2>
                                                    <span class="date" style="color: #d03838 !important; font-size: 12px !important;">
                                                        @{
                                                            var date = (DateTime.Now - msg.CreatedDate);
                                                            if (date.Days == 0)
                                                            {
                                                                if (date.Hours == 0)
                                                                {
                                                                    if (date.Minutes == 0)
                                                                    {
                                                                        @(date.Seconds) @(" seconds before")
                                                                    }
                                                                    else
                                                                    {
                                                                        @(date.Minutes) @(" minutes before")
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @(date.Hours) @(" hours before")
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @(date.Days) @(" days before")
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                                <p class="user-comment" style="font-weight: 400 !important; letter-spacing: 1px !important;">
                                                    @msg.Content
                                                </p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="feedback-area">
                                <h2 class="heading">Leave a comment</h2>
                                <form class="feedback-form" asp-controller="Shop" asp-action="PostComment" method="post">
                                    @{
                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <div class="group-input">
                                                <div class="form-field me-md-30 mb-30 mb-md-0 mr-30">
                                                    <input asp-for="@Model.CommentPost.FullName" placeholder="Your Name*" class="input-field">
                                                </div>
                                                <div class="form-field">
                                                    <input type="email" asp-for="@Model.CommentPost.Email" placeholder="Your Email*" class="input-field">
                                                </div>
                                            </div>

                                        }
                                    }
                                    <div class="form-field mt-30">
                                        <input asp-for="@Model.CommentPost.Subject" placeholder="Subject (Optinal)" class="input-field">
                                    </div>
                                    <div class="form-field mt-30">
                                        <textarea asp-for="@Model.CommentPost.Content" placeholder="Message" class="textarea-field"></textarea>
                                    </div>
                                    <input hidden asp-for="@Model.CommentPost.ProductId" value="@Model.SingleProduct.Id" />
                                    <div class="form-field-button-wrap pt-5">
                                        <button type="submit" value="submit" class="btn btn-custom-size xl-size btn-pronia-primary" name="submit">
                                            Post
                                            Comment
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                        <div class="product-information-body">
                            <h4 class="title">Shipping</h4>
                            <p class="short-desc mb-4">
                                The item will be shipped from China. So it need 15-20 days to
                                deliver. Our product is good with reasonable price and we believe you will worth it.
                                So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                we promise to work hard to help you to solve the problem
                            </p>
                            <h4 class="title">About return request</h4>
                            <p class="short-desc mb-4">
                                If you don't need the item with worry, you can contact us
                                then we will help you to solve the problem, so please close the return request!
                                Thanks
                            </p>
                            <h4 class="title">Guarantee</h4>
                            <p class="short-desc mb-0">
                                If it is the quality question, we will resend or refund to
                                you; If you receive damaged or wrong items, please contact us and attach some
                                pictures about product, we will exchange a new correct item to you after the
                                confirmation.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <div class="product-description-body">
                            <p class="short-desc mb-0">
                                @Model.SingleProduct.FullDesc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Single Product Description End -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 100% !important; display: flex !important; flex-direction: column !important; justify-content: center !important; margin: auto !important; ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body row">
                    <div class="mb-3 col-lg-6">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label for="recipient-surname" class="col-form-label">Surname:</label>
                        <input type="text" class="form-control" id="recipient-surname">
                    </div>
                    <div class="mb-3">
                        <label for="message-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="message-email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="mdoalrat1" type="submit" class="btn btn-primary">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input id="singleProductId" type="hidden" value="@Model.SingleProduct.Id" />