@model VmWishlist

<!-- #region Breadcrump Area -->
<section id="breadcrump">
    <div class="breadcrumb-wrapper" style="background-image: url('/img/bg-image/@Model.Banner.BgImage');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-page">Wishlist</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>@Model.Banner.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion Breadcrump Area End -->
<!-- #region Wishlist -->
<div class="wishlist-full pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @{
                    if (Model.Products != null)
                    {
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">remove</th>
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-stock-status">Stock Status</th>
                                            <th class="cart-btn">add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.Products)
                                            {
                                                <tr>
                                                    <td class="product-remove">
                                                        <a asp-controller="Shop" asp-action="RemoveFromWishlist" asp-route-Id="@item.Id">
                                                            <i class="fal fa-times" data-tippy="Remove" data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                            </i>
                                                        </a>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a asp-controller="Shop" asp-action="SingleProduct" asp-route-Id="@item.Id">
                                                            <img src="~/img/products/@item.ProductImages.Where(p=>p.Image!=null).FirstOrDefault().Image" alt="Wishlist Thumbnail">
                                                            <input class="add-to-cart-product-id" type="hidden" value="@item.Id" />
                                                        </a>
                                                    </td>
                                                    <td class="product-name"><a asp-controller="Shop" asp-action="SingleProduct" asp-route-Id="@item.Id">@item.Name</a></td>
                                                    <td class="product-price">
                                                        <span class="amount">
                                                            @{
                                                                bool noPrice = false;
                                                                foreach (var price in item.ProductSizeToProducts)
                                                                {
                                                                    if (price.Price != 0)
                                                                    {
                                                                        @price.Price
                                                                        noPrice = false;
                                                                        break;
                                                                    }
                                                                    else
                                                                    {
                                                                        noPrice = true;
                                                                    }
                                                                }

                                                                if (noPrice)
                                                                {
                                                                    string noPriceText = "Price will be Update soon";
                                                                    @noPriceText
                                                                }
                                                            }
                                                        </span>
                                                    </td>
                                                    <td class="product-stock-status">
                                                        @{
                                                            if (item.ProductSizeToProducts.Any(ps => ps.Quantity > 0))
                                                            {
                                                                <span class="in-stock text-success">
                                                                    @("In Stock")
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="in-stock text-danger">
                                                                    @("Out Stock")
                                                                </span>

                                                            }
                                                        }
                                                    </td>
                                                    <td class="cart-btn"><a class="add-to-cart-btn-from-wishlist" href="#">add to cart</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="text-center">
                            <img src="~/img/uncategorized/empty-cart-icon.png" alt="Alternate Text" />
                            <h4 style="font-size: 24px !important; letter-spacing: 1px !important; margin-top: 0 !important; color: #000000DE !important; ">Hey, it feels so light!</h4>
                            <p style="font-size: 14px !important; color: #7d7d7d !important; ">There is nothing in your bag. Let's add some items.</p>
                            <a class="btn" style=" color: white !important; background: #abd373 !important;" asp-controller="Shop" asp-action="Index">Go To Shop</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- #endregion Wishlist End -->