@model List<Sale>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center" style="font-size: 30px !important;">Archived Sales</h4>
                @{
                    if (TempData["ArchiveSaleError"] != null)
                    {
                        <p style="font-size: 20px !important; padding: 15px !important;" class="alert text-center text-warning">@TempData["ArchiveSaleError"]</p>

                        TempData["ArchiveSaleError"] = null;
                    }
                }
                <div class="table-responsive text-center">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="make-it-unvisible">
                                <th>Invoice NO</th>
                                <th>DATE</th>
                                <th>TOTAL</th>
                                <th>Customer</th>
                                <th>Is User</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="vertical-align: middle;"><a class="account-order-id" href="#">@item.InvoiceNo</a></td>
                                        <td style="vertical-align: middle;">@item.SaleDate.ToString("MMM d yyyy")</td>
                                        <td style="vertical-align: middle;">
                                            @{
                                                decimal totalPr = 0;
                                                var prCounts = 0;
                                                foreach (var item2 in item.SaleItems)
                                                {
                                                    totalPr += (item2.Price * item2.Quantity);
                                                    prCounts += item2.Quantity;
                                                }
                                            }
                                            @totalPr.ToString("C2") for @prCounts @(prCounts>1?" items":" item")
                                        </td>
                                        <td style="vertical-align: middle;">@(item.EndUserId!=null?item.EndUser.Name + " " + item.EndUser.Surname:item.UnregisteredCustomer.FirstName +" "+ item.UnregisteredCustomer.LastName)</td>
                                        <td style="vertical-align: middle;">@(item.EndUserId==null?"Non-User":"User")</td>
                                        <td style="vertical-align: middle;">
                                            <a data-tippy="Detail" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" class="btn-sm btn btn-outline-info" asp-area="Admin" asp-route-id="@item.Id" asp-controller="Sale" asp-action="SaleDetail"><i class="fal fa-info-square"></i></a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

